// @import './baseCss.scss';

._price {
  color: $mainColor;
  font-size: 2em;
}
.yy {
  &-cart-buy {
    display: flex;
    flex-direction: row;
    min-height: rem(50px);
    text-align: center;
    box-sizing: border-box;

    // position: absolute;
    // bottom: 0;
    // left: 0;
    // width: 100%;

    .yy-cart-money {
      flex: 5;
      align-items: center;
      display: flex;
      font-size: 16px;
      text-align: left;
      margin: 0 10px;
    }
    .yy-cart-delivery_price {
      flex: 3;
    }
    .yy-cart-total_price {
      flex: 2;
      text-align: right;
    }
  }
  &-btn-radius {
    border-radius: rem(20px);
  }
  &-cart-btn {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border: none;
    vertical-align: top;
  }
  &-buy-btn {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border: none;
    vertical-align: top;
    border-radius: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
  }
}
