// @import './baseCss.scss';

.yy {
  &-cart-buy {
    display: flex;
    flex-direction: row;
    min-height: rem(50px);
    text-align: center;
    box-sizing: border-box;

    // position: absolute;
    // bottom: 0;
    // left: 0;
    // width: 100%;
  }
  &-btn-radius {
    border-radius: rem(20px);
  }
  &-cart-btn {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border: none;
    vertical-align: top;
  }
  &-buy-btn {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border: none;
    vertical-align: top;
  }
}
