// Grid
// @import './baseCss.scss';
@import '~taro-ui/dist/style/components/grid.scss';
@import '~taro-ui/dist/style/components/icon.scss';
@import '~taro-ui/dist/style/components/flex.scss';

.yy-grid {
  background-color: #fff;
}

.yy-img-bg-row {
  .at-col {
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: bottom right;
    height: 100px;
    padding: 10px;
  }
  .yy-img-bg-border {
    border: 1px solid #ddd;
  }
  .yy-img-bg-title {
    display: block;
  }
  .yy-img-bg-value {
    display: block;
    text-align: center;
    line-height: 80px;
    font-size: 40px;
  }
}
