// @import './baseCss.scss';
.yy-input {
  display: flex;
  flex-direction: row;
  padding: rem(5px);
  &-label {
    // width: rem(40px);
    flex: 1;
    line-height: 2;
  }
  &-value {
    flex: 6;
    width: 100%;
    input {
      background-color: #fff;
      padding: rem(5px);
    }
  }
}
