// @import './baseCss.scss';
.popover-view {
  position: absolute;
  z-index: 10001;
  background-color: white;
  box-shadow: 0 0 rem(4px) rem(4px) #ddd;
  border-radius: 6rrem (px);
}
/* 实现三角形 */
.popover-view::before {
  position: absolute;
  display: inline-block;
  width: 0;
  height: rem(0px);
  content: '';
  border-style: solid;
  border-width: rem(20px);
  border-color: #fff #fff transparent transparent;
  box-shadow: rem(2px) -rem(2px) rem(2px) #ddd;
}
/* 上 */
.popover-view.top::before {
  bottom: -rem(12px);
  transform: rotate(135deg);
}
/* 下 */
.popover-view.bottom::before {
  top: -rem(12px);
  transform: rotate(-45deg);
}
/* 左 */
.popover-view.left::before {
  right: rem(40px);
}
/* 中 */
.popover-view.center::before {
  left: rem(94px);
}
/* 右 */
.popover-view.right::before {
  left: rem(40px);
}
.button_popver {
  display: inline-block;
}

.popover-item {
  width: 100%;
  font-size: rem(28px);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.popover-item-hover {
  background-color: #eee;
}
.underline {
  border-bottom: rem(1px) #eee solid;
}
